= form_for [@project, @chat], html:{class: 'pure-form pure-form-stacked'} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.text_field :body

    = f.hidden_field :user_id, value: current_user.id
  .actions
    = f.submit 'Comment'
