= form_for @project, html:{class: 'pure-form pure-form-stacked'} do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :repository, 'Repository URL e.g. https://github.com/....'
    = f.text_field :repository
  .field
    = f.label :body
    = f.text_area :body

    = f.hidden_field :owner_id, value: current_user.id
  .actions
    = f.submit 'Save'
