%p#notice= notice


.project-container
  %h1.title= @project.title
  = link_to 'Edit', edit_project_path(@project), class: 'edit-project' if policy(@project).edit?
  .shishous
    .h-shishou Shishous
    =@project.shishous.map{|e| e.name }
  .project-header
    .user
      .user-name #{@project.owner.name}
    .repository=link_to 'Go to repository', @project.repository

  .project-body= markdown(@project.body)
  .updated-at Updated at #{@project.updated_at}


/ this should be partial as chat view
.chats-container
  %h3 Discussion
  - if current_user
    - if @project.chats.empty?
      %p be the first shishou to start chat with owner!
    = render 'chats/form'
  - else
    %p #{link_to 'Sign up', new_user_registration_path} for starting chat!
  = render partial: 'chats/index', locals:{chats: @project.chats}
